/* Hero.css */
@keyframes moveBackground {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.hero-background {
  background-size: cover;
  background-position: 0% 50%;
  animation: moveBackground 15s linear infinite;
  height: 100%; /* Zorgt ervoor dat de achtergrond het volledige element bedekt */
  width: 100%; /* Zorgt ervoor dat de achtergrond zich aanpast aan de breedte */
}
