/* Navbar.css */
@keyframes colorChange {
  0% {
    color: black;
  }
  25% {
    color: rgb(46, 141, 172);
  }
  50% {
    color: rgb(46, 172, 46); /* Groene kleur */
  }
  75% {
    color: rgb(46, 141, 172);
  }
  100% {
    color: black;
  }
}

.animate-color-change {
  animation: colorChange 3500ms infinite;
}
